<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style></style>

<button *ngIf="!isAuthenticated; else buttonLogout" (click)="login()">
  Login
</button>

<ng-template #buttonLogout>
  <main class="main">
    <p *ngIf="userData">logged in as: {{ userData.preferred_username }}</p>

    <div>
      <ul>
        <li *ngFor="let file of files">{{ file.name }}
          <button (click)="onFileDownload(file.id, file.name)">download</button>
          <button (click)="onDeleteFile(file.id)">delete</button>
        </li>
      </ul>
    </div>

    <input #fileToSubmit type="file" (change)="onFileChange(fileToSubmit)" />
    <button (click)="onFileSubmit()">upload</button>

    <button (click)="logout()">Logout</button>
  </main>
</ng-template>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- <router-outlet></router-outlet> -->
