<style></style>

<button *ngIf="!isAuthenticated; else buttonLogout" (click)="login()">
  Login
</button>

<ng-template #buttonLogout>
  <main class="main">
    <p *ngIf="userData">logged in as: {{ userData.preferred_username }}</p>

    <div>
      <ul>
        <li *ngFor="let file of files">{{ file.name }}
          <button (click)="onFileDownload(file.id, file.name)">download</button>
          <button (click)="onDeleteFile(file.id)">delete</button>
        </li>
      </ul>
    </div>

    <input #fileToSubmit type="file" (change)="onFileChange(fileToSubmit)" />
    <button (click)="onFileSubmit()">upload</button>

    <button (click)="logout()">Logout</button>
  </main>
</ng-template>

<router-outlet></router-outlet>
